/*----------------------------------------------------------------*/
 /* Tercera Seccion    */    

.columna-texto{
    text-align: left;
    font-size: 23px;
    color: black;

    overflow: hidden;
    height: 600px;
}