/*Creacion de variables de color*/
:root {
    --letra: #780000;
    --letrabotones: #FDF0D5;
    --fondobody: #CCE6F4;
}

#titulo {
    color: var(--letra);
    text-align: center;
    width: 75%;

}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "primera segunda tercera "
        "cuarta cuarta tercera"; 
    text-align: center;
}

.dudas {
    color: var(--letra);
    justify-self: center;
    grid-area: primera;
    width: 80%;
    margin-left: 7%;
    align-content: space-around;

}

.chamba {
    color: var(--letra);
    grid-area: segunda;
    width: 80%;
    margin-left: 7%;
    align-content: space-around;
}

.infogolden {
    color: var(--letra);
    grid-area: cuarta; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "primera segunda tercera "; 
    text-align: center;
    align-content: center;
}

#formulario {
    background-color: #FFFFFF;
    grid-area: tercera;
    margin-right: 15px;
    border-radius: 5px;
    align-content: center;
    box-shadow: 7px 7px var(--letra);
}

#datosaside {
    color: var(--letra);
    text-align: center;
}

#botonenviar {
    color: var(--letrabotones);
    background-color: var(--letra);
    height: 40px;
    width: 110px;
    border-radius: 15px;
    margin-top: 7%;
    margin-bottom: 7%;
}

body {
    background-color: var(--fondobody);
}